/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variabili */
:root {
    --ms-primary-color: #051e34;
    --ms-primary-light-color: ;
    --ms-secondary-color: #1b72e8;
}

/* Regole di debug */
.debug .box-left {
    background-color: green;
    height: 100px;
}
.debug .box-right {
    background-color: blue;
    height: 100px;
}


/* Regole CSS generali */
html{
    font-family: sans-serif;
    min-width: 390px;
    min-height: 480px;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 70px);
}

/* SIDEBAR */
#ms_sidebar {
    width: 60px;
    height: calc(100vh - 70px);
    background-color: var(--ms-primary-color);
    background-image: url(../img/sidebar-bg.png);
}
#ms_sidebar li:hover {
    background-color: lightgray;
}

/* CONTENT */
#ms_content {
    width: calc(100vw - 60px);
    height: calc(100vh - 70px);
}
.ms_content_header {
    background-color: var(--ms-secondary-color);
}
.ms_lh_50 {
    line-height: 50px;
    vertical-align: middle;
}
.ms_btn_form {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 10px;
}
.ms_btn_form:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.ms_pill_bg {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.ms_class_img {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.fa-pen, .fa-trash {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}
.fa-pen:hover, .fa-trash:hover {
    color: white;
    border: 2px solid white;
    background-color: grey;
}


/* Media query */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    #ms_sidebar {
        width: 120px;
    }
    #ms_content {
        width: calc(100vw - 120px);
    }
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
    
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}