/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variabili */
:root {
    --ms-primary-color: #051e34;
    --ms-primary-light-color: ;
    --ms-secondary-color: ;
}

/* Regole di debug */
.debug #ms_content {
    background-color: red;
}


/* Regole CSS generali */
html{
    font-family: sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-y: hidden;
}

/* SIDEBAR */
#ms_sidebar {
    width: 60px;
    height: calc(100vh - 70px);
    background-color: var(--ms-primary-color);
    background-image: url(../img/sidebar-bg.png);
}

/* CONTENT */
#ms_content {
    width: calc(100vw - 60px);
    height: calc(100vh - 70px);
}



/* Media query */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    #ms_sidebar {
        width: 120px;
    }
    #ms_content {
        width: calc(100vw - 120px);
    }
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
    
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}